.banner {
  margin-bottom: 56px;
}

.banner-item {
  background: #fff1b8;
  background-image: url('../images/banners/bg-banner1_cr.png');
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 68px;
  border-radius: 10px;
}

.banner-item--title {
  max-width: 50%;
  color: #302c34;
  font-size: 39px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 15px;
}

.banner-item--subtitle {
  max-width: 50%;
  color: #302c34;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}
