.cart-modal__overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
}

.cart-modal__overlay.open {
  display: flex;
}

.cart-modal {
  width: 100%;
  max-width: 780px;
  padding: 40px 45px;
  border-radius: 5px;
  background-color: #fff;
}

.cart-modal__header {
  margin-bottom: 36px;
}

.cart-modal__header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-modal__header--title {
  color: #000;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.cart-modal__item {
  padding: 12px 0px;
  border: 0px solid #8c8c8c;
  border-bottom-width: 1px;
}

.cart-modal__item:last-child {
  padding-bottom: 13px;
  border: none;
}

.cart-modal__footer {
  margin-top: 16px;
}

.cart-modal__item-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-modal__item-controls {
  display: flex;
  align-items: center;
  row-gap: 10px;
  column-gap: 15px;
  flex-wrap: wrap;
  justify-content: flex-end;
  white-space: nowrap;
  flex-wrap: nowrap;
}
