.header {
  min-height: 124px;
  display: flex;
  align-items: center;
}

.header-box,
.footer-box {
  /* border: 1px solid blue; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-controls {
  width: fit-content;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  /* flex-direction: row-reverse; */
}

.header-controls--search {
  min-width: 260px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  padding: 1px 12px;
  font-size: 16px;
  font-weight: 400;
}

.header-controls--search:focus {
  outline: none;
  border: 1px solid #d9d9d9;
}

.header-controls--search::placeholder {
  color: #bfbfbf;
  font-size: 16px;
  font-weight: 400;
}
